<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Vintauge</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates ">
	<meta name="author" content="#">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="/static/css/zerogrid.css">
	<link rel="stylesheet" href="/static/css/style.css">
	
	<!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	
	<link rel="stylesheet" href="/static/css/menu.css">
	<script src="/static/js/jquery1111.min.js" type="text/javascript"></script>
	<script src="/static/js/script.js"></script>
	
	<!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
</head>

<body>
	<div class="wrap-body">
		<div id='cssmenu' class="align-center">
			<ul>
			   <li><a href='index.html'><span>Home</span></a></li>
			   <li class='active'><a href='single.html'><span>Search</span></a></li>
			   <li class='last'><a href='contact.html'><span>About</span></a></li>
			</ul>
		</div>
		<header class="">
			<div class="logo">
				<hr class="line-1">
				<a href="#">Replicons</a>
				<span>and it's length information</span>
				<hr class="line-1">
			</div>
		</header>
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div class="zerogrid">
					<div class="comments-are">
						<div id="comment">
							<h3>Replicon</h3>
							<span>Please input a replicon and we'll search for the corresponding length</span>
							<!--form name="form1" id="comment_form" method="post" action=""-->
								<table class="altrowstable" id="alternatecolor">
                                                                {% ifequal type "drug" %}
                                                                    <tr>
                                                                    <th>DrugBank ID</th><th>Name</th><th>CAS-Number</th><th>Drug Type</th>
                                                                    </tr>
                                                                    {% for res in results %}
                                                                    <tr>
                                                                    <td><a href="{{ res.url }}">{{ res.DrugBank_ID }}</a></td> <td>{{ res.Name }}</td> <td>{{ res.Cas_Number }}</td> <td>{{ res.Drug_Type }}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                {% endifequal %}

                                                                {% ifequal type "combination" %}
                                                                    <tr>
                                                                    <th>PubMed ID</th><th>Combination</th><th>Disease</th><th>Drug Class</th><th>Drug Form</th>
                                                                    </tr>
                                                                    {% for res in results %}
                                                                    <tr>
                                                                    <td><a href="{{ res.url }}">{{ res.PubMed_ID }}</a></td> <td>{{ res.Drug_Combinations }}</td> <td>{{ res.Disease }}</td> <td>{{ res.Class }}</td> <td>{{ res.Form }}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                {% endifequal %}

                                                                {% ifequal type "target" %}
                                                                    <tr>
                                                                    <th>Uniprot ID</th><th>Name</th><th>Gene Name</th><th>Species</th>
                                                                    </tr>
                                                                    {% for res in results %}
                                                                    <tr>
                                                                    <td><a href="{{ res.url }}">{{ res.Target_ID }}</a></td> <td>{{ res.Name }}</td> <td>{{ res.Gene_Name }}</td> <td>{{ res.Species }}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                {% endifequal %}
                                                                </table>
							<!--/form-->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer>
			<div class="zerogrid wrap-footer">
				<div class="row">
					<div class="bottom-social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-vimeo"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-youtube"></i></a>
					</div>
				</div>
				<div class="copyright">
					Copyright @ - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>